h1
{
	color: antiquewhite;
}

h2
{
	color: rgb(185, 185, 198);
}

body
{
	background-color: rgb(12, 12, 19);
	color: rgb(200, 200, 200);
}

#banderole
{
	width: 1400px;
	margin:10 auto;
	background-color: rgb(143, 3, 23);
	text-align: center;
	align-content: center;
}

#info
{
	color: rgb(85, 85, 85);
}

#directive
{
	width: 1400px;
	background-color: rgb(12, 12, 12);
	text-align: left;
	align-content: center;
}